<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NavSun Tech – How Tech Works</title>


<link rel="stylesheet" href="/css/style.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">


<script src="https://kit.fontawesome.com/your_kit_id.js" crossorigin="anonymous"></script>


<nav class="navbar">

  <div class="navbar-brand">
    <i class="fas fa-microchip"></i> NAVSUN TECH
  </div>

  <ul class="navbar-links">
    <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="/admin/add"><i class="fas fa-plus"></i> Add Topic</a></li>
    <li><a href="/about"><i class="fas fa-user"></i> About</a></li>
  </ul>
  
</nav>
